@model VendaViewModel

@{
    ViewData["Title"] = "Editar Venda";
}

<div c lass="row">
    <div class="col-md-4">
        <form asp-controller="Venda" asp-action="Edit">
            <h3 class="text-primary">@ViewData["Title"]</h3>

            <div asp-asp-validation-summary="ModelOnly"></div>
            <div class="container p-1">
                <label class="col-form-label">Produtos</label>
                <select asp-for="idProduto" class="form-select" aria-label="Default select example">
                    @{
                        if (Model.ProdutosLista is not null)
                        {
                            <option value="@Model.idProduto" selected>@Model.Produtos.dscProduto</option>

                            @foreach (var produto in Model.ProdutosLista)
                            {
                                if(Model.idProduto != produto.idProduto)
                                {
                                    <option value="@produto.idProduto">@produto.dscProduto</option>
                                }
                            }
                        }
                    }
                </select>
                <span asp-validation-for="idProduto" class="text-danger"></span>
            </div>
            <div class="container p-1">
                <label class="col-form-label">Clientes</label>
                <select asp-for="idCliente" class="form-select" aria-label="Default select example">
                    @{
                        if (Model.ClientesLista is not null)
                        {
                            <option value="@Model.idCliente" selected>@Model.Clientes.nmCliente</option>    

                            @foreach (var cliente in Model.ClientesLista)
                            {
                                if(Model.idCliente != cliente.idCliente)
                                {
                                    <option value="@cliente.idCliente">@cliente.nmCliente</option>
                                }
                            }
                        }
                    }
                </select>
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            <div class="p-1">
                <label asp-for="qtdVenda" class="col-form-label">Quantidade:</label>
                <input asp-for="qtdVenda" type="number" class="form-control border-1 border border-dark-subtle rounded">
                <span asp-validation-for="qtdVenda" class="text-danger"></span>
            </div>

            <div class="btn-group-sm p-1">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
    </div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}